
#field {
    width: 400px;
    height: 300px;
    background-color: #3498db; 
    border: 5px solid #2c3e50; 
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    cursor: pointer; 
}


#small_sh {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 20px; 
    left: 20px;   
    z-index: 1;   
}

/* Большая шестерёнка */
#large_sh {
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: 10px;
    left: 60px;
    z-index: 1;   
}

/* Текст */
#text {
    font-family: 'Arial', sans-serif; 
    font-size: 2em; 
    color: #3498db; 
    position: absolute;
    bottom: 20px;
    right: 20px;
}





@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


#field:hover {
    background-color: transparent; 
    transition: background-color 3s ease; 
}


#field:hover #small_sh {
    width: 100px; 
    height: 100px;
    bottom: 10px; 
    left: 10px;
    transition: all 1s ease; 
    animation: rotateAnimation 5s linear infinite; 
}


#field:hover #large_sh {
    width: 140px; 
    height: 140px;
    bottom: 0px; 
    left: 50px;
    transition: all 1s ease; 
    animation: rotateAnimation 5s linear infinite reverse;
}
